.wrap_form {
  background-color: #fff;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

.inputFrom {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputFrom input {
  outline: none;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  width: 100%;
}

.inputFrom input:focus,
.inputFrom textarea:focus {
  border: 2px solid #1e3a8a;
}

.inputFrom textarea {
  outline: none;
  height: 80px;
  margin-top: 0.5rem;
}
.btnWraper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.btnCancel {
  border: 1px solid #2563eb;
  height: 40px;
  border-radius: 5px;
  width: 100%;
}

.btnSubmit {
  width: 100%;
  background-color: #2563eb;
  color: #fff;
  margin-left: 1rem;
  border-radius: 5px;
  height: 40px;
  white-space: nowrap;
}

.AddTodo {
  background-color: #2563eb;
  color: #fff;
  width: 100%;
  padding: 1rem;
}
